body{
    background-color: rgb(248, 248, 248)!important;
}

.bordered{
    /* border: 1px solid black; */
    height: 500px;
    padding: 20px 0px 0px 0px;
}

.navbar-light{
    background-color: #FAC400!important;
}

.card{
    font-size: 1em;
    width: 100%;
    border-radius: 10px!important;
    border:1px solid #F1F1F1!important;
}

.card-left{
    font-size: 0.8em;
    width: 100%;
    border-radius: 0px!important;
    border:0px!important;
}

.card-right{
    font-size: 0.8em;
    width: 100%;
    border-radius: 0px!important;
    border:0px!important;
}

.card-title{
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-bottom: 10px;
    color: gray;
}

.a_list_item{
    background-color: black!important;
}

.list-group-item{
    padding: 0px!important;
}
.btn-primary{
    /* background-color: rgb(0, 137, 196)!important; */
    border-radius: 0px!important;
}
#td_imagen{
    width: 150px!important;
}

.text_required{
    color: rgb(243, 147, 109)!important;
}

.i-check{
    font-size: 35px;
    color: rgb(10, 196, 10);
}

.i-error{
    font-size: 35px;
    color: rgb(240, 45, 45);
}

.cont-acuerdo{
    background-color: #F1F1F1;
    padding: 30px 10px 30px 10px!important;
    border-radius: 7px;
}

/* 
.btn-primary :hover{
    background-color: rgb(25, 31, 34)!important;
} */