
 #lbl-carrito-movil{
    display: none!important;
}

.containerI {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    border: 0px ;
    margin-top: -5px;
    /* right: -400%!important; */
}
.containerI > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.Im{
    width: 100%;
    object-fit: cover;
}


.dropdown{
    margin-right: 3px;
}

#cont-nombre{
    margin-left: 35px;
}


/* Codigo para el traductor de google */
.google_translate_element_li{
    position: absolute;
    right:0px!important;
}
.goog-te-banner-frame {
    display:none!important;
}

body {
    background-color: rgb(248, 248, 248)!important;
    position: absolute!important;
    width: 100%;
    top: 0px!important;
}

.goog-te-gadget-icon{
    display: none!important;
}

.goog-te-gadget-simple{
    /* padding: 5px 5px 5px 5px!important; */
    background-color: #FAC400!important;
    border:none!important
}

.goog-te-menu-value {
    color:rgb(255, 255, 255)!important;
    font-size: 15px;
}

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}
/*Fin Codigo para el traductor de google */



@media (max-width: 600px) {
    .google_translate_element_li{
        position: relative;
        font-size: 30px!important;
        border:0px!important;
        text-align: left!important;
        padding: 0px 0px 30px 0px!important;
        background-color: rgb(238, 186, 0);
        border:5px solid #FAC400;
        padding:0px!important;
        margin:auto;
        text-align: center;
    }
    .goog-te-menu-value {
        color:rgb(255, 255, 255)!important;
        font-size: 30px;
        border:5px solid #FAC400;
    }


    .nav-link{
        /* padding: 30px!important; */
        font-size: 30px!important;
        border:0px!important;
        text-align: left!important;
    }

    .nav-item{
        padding: 0px 0px 30px 0px!important;
        background-color: rgb(238, 186, 0);
        border:5px solid #FAC400;
    }

    a{
        text-decoration: none;
        outline: none;
    }

    .navbar-nav{
        height: 70%!important;
        padding: 0px;
    }

    .navbar-toggler{
        font-size: 1em;
        color: white!important;
    }

    .dropdown-menu{
        font-size: 0.7em!important;
        z-index: 100;
        margin-top:50px;
    }

    .dropdown-toggle::after {
        display: none;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    #cont-nombre{
        margin-left: 22px;
    }

    .salir{
        color:rgba(255, 0, 0, 0.651);
    }

    .cont_segundo_nav{
        margin:0px;
    }

    .input-flat{
        font-size: 25px!important;
        margin-bottom: 10px;
    }

    .btn-flat{
        margin:0px;
        font-size: 20px!important; 
        margin-bottom: 30px;
    }

    #lbl-carrito{
        display:none!important;
    }

    #lbl-carrito-movil{
        display: block;
        color: black;
        font-size: 1.5em;
    }

    .text-left{
        padding: 0px;
    }

    .containerI {
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: absolute;
        border-radius: 50%;
        border: 0px ;
        margin-top: 0px;
        margin-left: -30px;
        /* right: -400%!important; */
    }
    .containerI > .crop {
        position:absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
    }
    
    .Im{
        width: 100%;
        object-fit: cover;
    }

}