body{
    background-color: rgb(248, 248, 248)!important; 
  }

.bg-per{
  background-color:  rgba(232, 104, 19, 0.897) ;
}
#perfil{
  width: 50%;
  height: 50%;
}

.sidebar{
    background-color: rgba(163, 68, 4, 0.925)!important;
    color:white;
}

.containerImg {
    width: 8vw;
    height: 8vw;
    overflow: hidden;
    margin: auto;
    margin-top:10px;
    position: relative;
    border-radius: 50%;
    border: 5px solid #e86813d7;
}
.containerImg > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.img_p{
    width: 100%;
    object-fit: cover;
}

.navbar-expand-lg{
    padding:0px 10px 0px 10px;
}

.text-modulo{
    vertical-align: bottom;
    margin-left: 10px;
}



/* codigo para el traductor */
.goog-te-banner-frame {
    display:none!important;
}

body {
    background-color: rgb(248, 248, 248)!important;
    position: absolute!important;
    width: 100%;
    top: 0px!important;
}

.goog-te-gadget-icon{
    display: none!important;
}

.goog-te-gadget-simple{
    padding: 10px 10px 10px 10px!important;
    background-color: #EA7731!important;
    border:none!important
}

.goog-te-menu-value {
    color:rgba(255, 255, 255, 0.555)!important;
    font-size: 15px;
}

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

.goog-te-menu2 {
    background-color: red!important;
    text-decoration: none!important;
    border: 0px!important;
    overflow: hidden;
    padding: 4px;
}
/* fin codigo para el traductor */



@media (max-width: 600px) {
    .logo{
        width: 100px!important;
    }

    .text-modulo{
        font-size: 15px;
    }
}