body{
    background-color:#f8f8f8!important;
}

.cont_portada{
    height: 350px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.portada{
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -40%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.cont_info{
    height: 350px;
    overflow: hidden;
    top: -180px;
    margin-bottom: -180px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.671);
    padding: 15px 15px 15px 15px!important;
}

.cont_logo{
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: relative;
    margin:auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: transparent;
    -webkit-box-shadow: 0px -42px 70px 31px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px -42px 70px 31px rgba(0,0,0,0.24);
    box-shadow: 0px -42px 70px 31px rgba(0,0,0,0.24);
}

.logo{
    position: absolute;
    left: 0px;
    height: 150px;
    min-height: 150px;
    min-width: 150px;
    background-color: transparent;
}

.titulo_tienda{
    color: white;
    font-size: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.capa_oscura{
    background-color: rgba(0, 0, 0, 0.418);
}

.info_tienda > span{
    color: white!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
}

.titulo{
    background-color: rgb(243, 243, 243)!important;
    color:#E86713;
    padding: 2px;
}

.info_tienda_movil{
    display: none;
}

.col-md-12{
    padding: 0px!important;
}

.img-wrap{
    position: absolute;
    width: 100%;
    height: 100%; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img_producto{
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.img_categoria{
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}



.nombre_categoria{
    color: white;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 35%;

}

/* .capa_hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
} */

.transition{
    background-color: rgba(0, 0, 0, 0.582);
}

.btn-categoria{
    color: white!important;
    font-size: 30px!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    height: 250px;
    background-size: cover;
    background-repeat:no-repeat;
    border:0px!important;
    border-radius: 10px;

    -webkit-box-shadow: inset 0px 0px 300px 183px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 0px 300px 183px rgba(0,0,0,0.47);
    box-shadow: inset 0px 0px 300px 183px rgba(0,0,0,0.47);

    transition: transform .2s; /* Animation */
}

.btn-categoria:hover{
    -webkit-box-shadow: inset 0px 0px 300px 183px rgba(0,0,0,0.55);
    -moz-box-shadow: inset 0px 0px 300px 183px rgba(0,0,0,0.55);
    box-shadow: inset 0px 0px 300px 183px rgba(0,0,0,0.55);

    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    
}

form{
    border: 0px;
}

figure{
    border: 0px!important;
}

.info_tienda > a{
    text-decoration: none;
    color:white!important;
}

a:hover{
    text-decoration: none;
}

button:focus {
    outline:0!important;
}


/* ajuste a pantallas */
@media (max-width: 600px) {
    .cont_portada{
        height: 90vh;
        overflow: hidden;
    }
    
    .portada{
        position: absolute;
        width: 320vw;
        height: 250vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .col-md-12{
        padding: 0px!important;
    }

    .info_tienda > span{
        color: white!important;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 30px;
    }

    .info_tienda{
        display: none;
    }

    .info_tienda_movil > span{
        color: white!important;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10px;
        width: 100%;
    }

    .info_tienda_movil{
        display: inline;
    }

}