.cont-filtros{
    background-color: #F1F1F1;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
}

.cont-filtros hr{
    margin: 2px 0px 10px 0px!important;
}



.text-gray{
    color: gray;
}

.btn-filtrar{
    margin-top: 18px!important;
}

.btn-finalizado{
    background-color: rgba(42, 179, 0, 0.726)!important;
    color: white!important;
}
.btn-finalizado:hover{
    background-color: rgba(52, 218, 2, 0.726)!important;
    color: white!important;
}

.btn-secondary{
    border-radius: 0px!important;
}

.lbl-tipo-pedido{
    color: rgb(182, 182, 182)!important;
    font-size: 13px!important;
}

.cont-detalles{
    text-align: center!important;
}

.block-detalle{
    padding: 10px;
    border-radius: 7px;
    width: 100%!important;
}

.block-detalle:hover{
    background-color: rgba(9, 124, 201, 0.192);
    cursor: pointer;
}


.lbl_verde{
    color: rgba(42, 179, 0, 0.726)!important;
}
.lbl_rojo{
    color: rgba(179, 12, 0, 0.726)!important;
}

.card-detalle > .row{
    margin: 0px!important;
}
.card-detalle > .row > .row{
    margin: 0px!important;
}
.cont-detalles > .row{
    margin: 0px!important;
}

.card-detalle{
    border-radius: 10px!important;
    border: 1px solid rgb(230, 230, 230)!important;
}

.cont-detalles{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 600px) {

    .card_detail {
        bottom: 0;
        position: fixed!important;
        background-color: white;
        z-index: 100;
        width: 100%;
        left: -1px;
        margin: 0px;
        border-top: 2px solid #E86713;
        padding: 10px 0px 0px 0px !important;
    }

    .btn-flat{
        width: 100%;
        margin:0px!important;
        padding: 20px!important;
    }

    #search-form{
        display: none;
    }

    .info_tipo{
        position: relative;
        right: 8px;
        width: 80px;
    }
    
    .info_tipo_letras{
        position: absolute;
        left: 10px;
        width: 80px;
        margin-top: 70px;
        font-size: 13px;
    }

    .btn_completado{
        background-color: rgba(2, 175, 2, 0.795)!important;
        color: white!important;
        width: 100%;
    }


}