.navbar-nav > li > a, .navbar-brand {
    padding:2px 10% 0% 10% !important; padding-bottom:0 !important;
    height: 25px; /* aqui escoges el alto que necesites */
    color: white!important;
    text-align: center;
    font-size: 1.2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}
.navbar {
    min-height:30px !important; /* aqui escoges el alto que necesites */
    background-color: black;
    /* padding: 10px 0px; */
}

.border-right{
    border-right: 1px solid #dee2e6 !important;
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-right-color: rgb(222, 226, 230) !important;
}

.navbar-nav{
    margin-right: 0px!important; 
}

.navbar-light{
    background-color: #FAC400!important;
}

.navbar-collapse {
    font-size: 2em;
}

.bordered{
    padding: 0px 0px;
    /* border: 1px solid black; */
}

#search-form{
    margin-top: 4%;
}

.btn-flat{
    background-color: #E86713;
    border: none;
    padding: 10px 50px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-flat:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(231, 115, 38);
}

.input-flat{
    border-radius: 0px;
}

#logo1{
    padding: 2% 0px 0px 0px;
    content: url('../img/Logo_shoppingapp_v2.png');
}

#logo1_tienda{
    padding: 2% 0px 0px 0px;
    content: url('../img/Logo_shoppingapp_tienda.gif');
}


#lbl-carrito{
    cursor: pointer;
    text-decoration: none;
    padding-top: 20%!important;
    padding-left: 5%;
    color: black!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}


.settings_drop{
    margin:0px!important;
    padding: 0px!important;
    background-color: #E86713!important;
}

#form p {
    text-align: left;
  }
  
  #form label {
    font-size: 20px;
    color: grey;
    margin:0px!important;
  }
  
  #form input[type="radio"] {
    display: none;
  }
  
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin:0px!important;
  }


  .orange {
    color: orange!important;
  }

  .card-product:hover{
    cursor: pointer;
    /* background-color: rgb(248, 248, 248); */
    
  }

  .col-md-12{
      margin:0px!important;
  }

  .title{
    height: 50px;
    font-size: 20px;
  }

  .card-msj{
      padding: 20px;
      border-radius: 10px;
  }

  
  


/* footer */
footer {
    background: #222;
    color: #aaa;
  }
  
  footer a {
    color: #aaa;
  }
  
  footer a:hover {
    color: #fff;
  }
  
  footer h3 {
   color: #0894d1;
    letter-spacing: 1px;
    margin: 30px 0 20px;
  }
  
  footer .three-column {
   overflow: hidden;
  }
  
  footer .three-column li{
   width: 33.3333%;
    float: left;
    padding: 5px 0;
  }
  
  footer .socila-list {
    overflow: hidden;
    margin: 20px 0 10px;
  }
  
  footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  footer .socila-list li:hover {
    opacity: 1;
  }
  
  footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
  }
  
  footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
  }
  
  footer .copyright span {
    color: #0894d1;
  }

  /* //footer */




  .card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}




/* ajuste a pantallas */
@media (max-width: 600px) {
    .navbar-nav > li > a, .navbar-brand {
        padding:2px 10% 0% 10% !important; padding-bottom:0 !important;
        height: 25px; /* aqui escoges el alto que necesites */
        color: white!important;
        text-align: center;
        font-size: 4vw;
        padding: 20px 0px;
        /* border:1px solid white; */
    } 
    
    .row{
        margin:0px!important;
    }
}
/* // ajuste a pantallas */


